<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Welcome to Better Buy!</h1>
  <p>The better online buying solution.</p>
</div>

<!-- Search form -->
<span class="pull-right">
  <%= form_tag shop_path, method: :get, role: 'search', class: 'form-inline' do %>
    <div class="form-group">
      <%# TODO: hide the search label %>
      <%= text_field_tag(:search, nil, placeholder: 'Search Products', class: 'form-control input-sm') %>
    </div>
    <%= submit_tag('Search', class: 'btn btn-default btn-sm') %>
  <% end -%>
</span>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if params[:cat_id] %>
        <h3>All <%= @category.name.titleize %></h3>
      <% else %>
        <h3>All Products</h3>
      <% end -%>
    </div>
  </div>


    <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag product.avatar.url(:thumb) %>
            <span class="pull-right text-right">
              <h5><%= product.price %></h5>
            </span>
            <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
              <h5><%= product.name %></h5>
              <small><span class="glyphicon glyphicon-plus"></span> quick info</small>
            </a>
            <%# link_to uses 'get', button_to uses 'post', that's why we use it here.  %>
            <%= button_to 'Add To Cart', line_items_path(product_id: product.id), class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
            </div>
            <div class="modal-body">
              <p><%= number_to_currency(product.price) %></p>
              <p><%= product.description %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <% end -%>
  </div>
</div>

    <!-- Modal -->
