<!DOCTYPE html>
<html>
  <head>
    <title>Merchant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% # you have to use this path, or else it won't work %>
    <%= render '/layouts/navbar' %>
    <%= yield %>
  </body>
</html>
